@{
    ViewData["Title"] = "Finmaks Financial Index Asset";
}
<style>
    /* Genel stil ayarları */
    body {
        font-family: Arial, sans-serif;
    }

    /* Formun konteynerini ortala */
    #start {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
    }

    /* Form öğelerinin stilleri */
    .form-group {
        margin-bottom: 15px;
    }

    label {
        font-weight: bold;
    }

    input[type="file"] {
        display: block;
        width: 100%;
        padding: 5px;
        margin-top: 5px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }

    input[type="date"] {
        width: 100%;
        padding: 5px;
        margin-top: 5px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }

    button {
        display: block;
        width: 100%;
        padding: 10px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 3px;
        cursor: pointer;
    }

        button:hover {
            background-color: #0056b3;
        }

    /* Sonuç bölgesi stil ayarı */
   
</style>
<div id="start">
    <form method="post" enctype="multipart/form-data" action="/YourController/ProcessForm">
        <!-- Diğer form alanları buraya ekleniyor -->
        <div class="form-group">
            <label for="file1">Upload Asset Excel File :</label>
            <input type="file" class="form-control-file" id="fileAsset" name="file1">
        </div>
        <div class="form-group">
            <label for="file2">Upload Index Excel File :</label>
            <input type="file" class="form-control-file" id="fileIndex" name="file2">
        </div>
        <div class="form-group">
            <label for="startDate">Start Date:</label>
            <input type="date" class="form-control" id="startDate" name="startDate">
        </div>
        <div class="form-group">
            <label for="endDate">End Date:</label>
            <input type="date" class="form-control" id="endDate" name="endDate">
        </div>
        <button type="button" onclick="ProcessData()" class="btn btn-primary" id="submitButton">Lets Go</button>
    </form>
</div>
<div id="afterProcess"></div>
<div id="lastUpdated" style="display: none;"></div> <!-- Son güncellenme tarihini gösterecek div -->

<script>
    var isProcessing = false; // İşlemi kontrol etmek için bir bayrak

    function ProcessData() {
        if (isProcessing) {
            return; // Eğer işlem zaten devam ediyorsa tekrar tetiklemeyi engelle
        }

        isProcessing = true; // İşlemi başlat

        // Form verilerini topla
        var formData = new FormData();
        var fileAsset = document.getElementById('fileAsset').files[0];
        var fileIndex = document.getElementById('fileIndex').files[0];
        var startDate = document.getElementById('startDate').value;
        var endDate = document.getElementById('endDate').value;

        formData.append('fileAsset', fileAsset);
        formData.append('fileIndex', fileIndex);
        formData.append('startDate', startDate);
        formData.append('endDate', endDate);

        // API adresini belirle
        const baseUrl = "https://localhost:7012/api/";
        const apiUrl = baseUrl + "Exchange/ProcessForm";
        // AJAX isteği gönder
        $.ajax({
            url: apiUrl,
            type: 'POST',
            data: formData,
            contentType: false,
            processData: false,
            success: function (data) {
                var redirectToUrl = '@Url.Action("GetPartial", "Home")';
                var jsonData = JSON.stringify(data);
                redirectToUrl += '?jsonData=' + encodeURIComponent(jsonData);
                // Son güncellenme tarihini güncelle
                var currentDate = new Date();
                var lastUpdatedText = "Son güncelleme tarihi: " + currentDate.toLocaleString();
                var lastUpdatedDiv = document.getElementById("lastUpdated");
                lastUpdatedDiv.style.display = "block";
                lastUpdatedDiv.textContent = lastUpdatedText;
                // Sonuçları göster
                $.ajax({
                    url: redirectToUrl,
                    type: 'GET',
                    success: function (partialViewResult) {
                        $('#afterProcess').html(partialViewResult);
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            },
            error: function (error) {
                console.log(error);
            },
            complete: function () {
                isProcessing = false; // İşlem tamamlandığında bayrağı kaldır
            }
        });
    }
    setInterval(ProcessData, 60000); 
</script>
